
#venv
venv

# Python Cache
__pycache__/
*.pyc

# IDEs & System files
.vscode/
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Audio outputs & Temporary directories
*.wav
# ยกเว้น emotion ref ให้ commit ขึ้น repo ได้
!assets/emotion_refs/**/*.wav
temp_f5/
report.txt

# External repositories
thonburian-tts/